.blog-header {
  height: 50px;
  line-height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-width: 1200px;
  padding: 0 40px;
  background-color: #fff;
  box-sizing: border-box;
  .nav-lists {
    float: left;
    .nav-list {
      float: left;
      margin: 0 10px;
      cursor: pointer;
      color: $blogNavColor;
    }
    .nav-list-active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        height: 2px;
        left: 0;
        right: 0;
        background-color: $blogNavActiveColor;
      }
    }
  }
  .hd-right {
    float: right;
    .hd-right-margin {
      margin-left: 20px;
      cursor: pointer;
    }
    .writeBlogColor {
      color: $waiteBlogIconColor;
    }
    .messageColor {
      color: $messageIconColor;
    }
  }
  .hd-haver-active {
    &:hover {
      color: $blogNavActiveColor;
    }
  }
}
