$blogNavActiveColor: #48a18b;
$blogNavColor: #3d3d3d;
$waiteBlogIconColor: #2b9da1;
$messageIconColor: #1675e5;
$registerBgColor: #48a18b;

$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
